{% extends "layouts/base.html.twig" %}

{% block page_title %}
{% if galaxy.id is defined and galaxy.id > 0 %}
Edit {{galaxy.name}}
{% else %}
Create New Galaxy
{%endif%}
{%endblock%}

{%block app%}

<h1> 
{% if galaxy.id is defined and galaxy.id > 0 %}
Edit {{galaxy.name}}
{% else %}
Create New Galaxy
{%endif%}
</h1>

{% if galaxy.id is defined and galaxy.id > 0 %}
<form method="POST" action="/galaxies/{{galaxy.id}}">
{% else %}
<form method="POST" action="/galaxies">
{%endif%}

<div class="control">
    <label>Name:</label>
    <input type="text" value="{{galaxy.name}}" name="name">
</div>

<div class="control">
    <label>Size:</label>
    <input type="text" value="{{galaxy.size}}" name="size">
</div>

<div class="control">
    <label>Description:</label>
    <input type="text" value="{{galaxy.description}}" name="description">
</div>

<div class="control">
    <label>Image URL:</label>
    <input type="text" value="{{galaxy.image_url}}" name="image_url">
</div>

<button type="submit">Click to Save</button>
</form>

{%endblock%}