{% extends "layouts/base.html.twig" %}

{% block page_title %}View {{star.name}} {%endblock%}

{%block app%}

<h1> View {{star.name}} </h1>

<ul>
    <li><label>ID:</label> {{star.id}}</li>
    <li><label>Name:</label> {{star.name}}</li>
    <li><label>Size:</label> {{star.size}}</li>
    <li><label>Description:</label> {{star.description ? star.description : "N/A"}}</li>
</ul>

{% if star.image_url %}
<img src="{{star.image_url}}" alt="{{star.name}}" style="width: 400px; height: 400px; object-fit: cover;">
{% endif %}

<p>
    <a href="/stars/{{star.id}}/edit">Edit</a>
    <a href="/stars/{{star.id}}/delete">Remove</a>
</p>

{%endblock%}