{% extends "layouts/base.html.twig" %}

{% block page_title %}
{% if planet.id is defined and planet.id > 0 %}
Edit {{planet.name}}
{% else %}
Create New Planet
{%endif%}
{%endblock%}

{%block app%}

<h1> 
{% if planet.id is defined and planet.id > 0 %}
Edit {{planet.name}}
{% else %}
Create New Planet
{%endif%}
</h1>


{% if planet.id is defined and planet.id > 0 %}
<form method="POST" action="/planets/{{planet.id}}">
    <input type="hidden" name="id" value="{{planet.id}}" />
{% else %}
<form method="POST" action="/planets">
{%endif%}

<div class="control">
    <label>Name:</label>
    <input type="text" value="{{planet.name}}" name="name">
</div>

<div class="control">
    <label>Size:</label>
    <input type="text" value="{{planet.mass}}" name="mass">
</div>

<div class="control">
    <label>Description:</label>
    <input type="text" value="{{planet.description}}" name="description">
</div>

<div class="control">
    <label>Image URL:</label>
    <input type="text" value="{{planet.image_url}}" name="image_url">
</div>

<button type="submit">Click to Save</button>
</form>


<p>
<a href="/planets"> Back to Planets</a>
</p>

{%endblock%}